.Card {
  text-align: center;
  background-color: #ffffff;
  padding: 50px;
}

#name {
  padding: 10px;
  color: #CDCDCD;
}

#promo-message {
  padding: 10px;
  color: #3C82A6;
}

#promo-code {
  font-weight: bold;
  text-transform: uppercase;
}

.fa-check {
  color: #74CDAD;
}

.features-list {
  list-style-type: none;
  text-align: left;
  padding: 0 0 20px 0;
}

#view-profile {
  padding: 10px;
}

a.view-profile-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#rent-truck-btn {
  margin-top: 20px;
}
a.rent-truck-btn {
  background-color: #3C82A6;
  color: white;
  padding: 15px 70px;
  text-decoration: none;
}

/* mobile view */

@media screen and (max-width: 1260px) {
  a.rent-truck-btn {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 992px) {

  #logo-img img {
    width: 80%;
  }

  #rent-truck-btn {
    margin-top: 40px;
  }

}